<?xml version="1.0" encoding="utf-8"?>
<!--
    IrisLensSDK Android - Demo App Manifest

    데모 애플리케이션 매니페스트
    - 카메라 권한 및 기능 선언
    - 액티비티 설정

    @version 1.0.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        필수 기능 선언
    -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- OpenGL ES 3.0 -->
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />

    <!--
        권한 선언
    -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!--
        앱 설정
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IrisLensSDKDemo">

        <!-- 메인 액티비티 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
